
<ion-card>
  <ion-item>
    <ion-label> Name:</ion-label>
    <ion-input [(ngModel)]="newProduct.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Price:</ion-label>
    <ion-input [(ngModel)]="newProduct.price"></ion-input>
  </ion-item>
</ion-card>

<div style="margin: 20px;">
  <ion-button (click)="save()" expand="block" shape="round">
    Save product
  </ion-button>
</div>

@if (loading) {
  <div style="text-align: center;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
}



<ion-list>
  @for (product of products; track $index) {
    <ion-item>
      <ion-label>Name: {{product.name}} </ion-label>
      <ion-label>Price: {{product.price}} </ion-label>
    </ion-item>
  }
</ion-list>

