
<ion-header>
  <ion-toolbar>
    <ion-title>Products application</ion-title>
  </ion-toolbar>
</ion-header>

@if (loading) {
  <div style="text-align: center;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
}

<ion-list>
  @for (product of products; track $index) {
    <ion-item>
      <ion-label>Code: {{product.code}} </ion-label>
      <ion-label>Name: {{product.name}} </ion-label>
      <ion-label>Price: {{product.price}} </ion-label>
      <ion-button slot="end">
        <ion-button (click)="edit(product)">
          <ion-icon slot="icon-only" name="create" color="warning"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(product)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-item>
  }
</ion-list>

